<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<link rel="stylesheet" href="/stylesheets/home.css">

<div class="wrapper">
    <div class="parallax" id="#">
        <img src="https://cdn.discordapp.com/attachments/1091399104480944158/1091399496082133002/DragoLuca_Banner_-_Only_Background.png" id="background">
        <img src="https://cdn.discordapp.com/attachments/1091399104480944158/1091399463152660510/DragoLuca_Banner_-_Only_Text.png" id="foreground">
    </div>

    <div class="main">
        <div class="about" id="about">
            <h1>ABOUT</h1>
            <div class="cards">
                <div class="card">
                    <div class="imgBx">
                        <img src="https://cdn.discordapp.com/attachments/1091399104480944158/1091399782540525621/DragoLuca_-_With_Body_Only_Logo.png" alt="">
                    </div>
                    <div class="content">
                        <h3>Music & Composition</h3>
                        <p>As a singer and music composer, I love creating something that truly resonates with my audience. Whether I'm performing live or recording in the studio, I approach each project with a passion for music and a dedication to delivering exceptional results.
                        <br><br>
                        In addition to my vocal and composition skills, I'm proficient in Adobe Premiere Pro, After Effects, and Blender. I enjoy experimenting with different sounds and styles, and am constantly seeking out new influences and collaborators to help me push the boundaries of what's possible in music.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx">
                        <img src="https://cdn.discordapp.com/attachments/1091399104480944158/1091399782540525621/DragoLuca_-_With_Body_Only_Logo.png" alt="">
                    </div>
                    <div class="content">
                        <h3>Programming</h3>
                        <p>As a self-taught programmer, I've honed my skills in TypeScript, JavaScript, MongoDB, and web development. I have a deep understanding of both front-end and back-end technologies and am passionate about using my skills to create dynamic, responsive websites that deliver an exceptional user experience.
                        <br><br>
                        I'm highly collaborative and enjoy working closely with clients and stakeholders to ensure their needs and goals are met. I've worked on a wide range of projects, from e-commerce sites to custom web applications, and am always seeking new challenges and opportunities to learn and grow.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx">
                        <img src="https://cdn.discordapp.com/attachments/1091399104480944158/1091399782540525621/DragoLuca_-_With_Body_Only_Logo.png" alt="">
                    </div>
                    <div class="content">
                        <h3>Creative interest</h3>
                        <p>DragoLuca has dreams of becoming a YouTube sensation as a musical artist. He also wants to make his own company.
                        <br><br>
                        When I'm not composing music or writing code, I love exploring creative interests that keep me engaged and inspired. As an accomplished graphic designer, I'm proficient in Adobe Photoshop and Illustrator and enjoy creating digital art and 3D animations.
                        <br><br>
                        In addition, I'm an avid traveler and love exploring new places and cultures. I believe travel is one of the best ways to expand your horizons and deepen your understanding of the world. Finally, I'm passionate about celebrating and sharing the rich cultural traditions of my Indian heritage with others.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="social" id="socials">
                <h1>SOCIALS</h1>
                <div class="divBx">
                    <ul>
                        <li>
                            <a href="https://twitter.com/itsdrvgo" class="twitter">
                                <h4><i class="ri-twitter-line"></i>Twitter</h4>
                                <p>@itsdrvgo</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://youtube.com/@dragoluca" class="youtube">
                                <h4><i class="ri-youtube-line"></i>YouTube</h4>
                                <p>DragoLuca</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/itsdrvgo" class="instagram">
                                <h4><i class="ri-instagram-line"></i>Instagram</h4>
                                <p>@itsdrvgo</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://dsc.gg/itsdrvgo" class="discord">
                                <h4><i class="ri-discord-line"></i>Discord</h4>
                                <p>DragoLuca</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/dragoluca22" class="github">
                                <h4><i class="ri-github-line"></i>Github</h4>
                                <p>dragoluca22</p>
                            </a>
                        </li>
                    </ul>
                    <div class="imgBx">
                        <img src="https://cdn.discordapp.com/attachments/1091399104480944158/1091401205286182932/Social.png" alt="">
                    </div>
                </div>
        </div>

        <div class="videos" id="videos">
            <h1>VIDEOS</h1>
            <div class="divBx">
                <div class="frame">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XjiD9_NCY8I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

<%- include("partials/footer") -%>