<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="DragoLuca - Links">
    <meta property="og:image"
        content="https://cdn.discordapp.com/attachments/1091399104480944158/1091399782540525621/DragoLuca_-_With_Body_Only_Logo.png">
    <meta property="og:description"
        content="The official website of DragoLuca. Connect with Drago by following him in his socials.">
    <meta property="og:url" content="https://itsdrago.tk/links">

    <link rel="icon" type="image/png"
        href="https://cdn.discordapp.com/attachments/1091399104480944158/1091399782540525621/DragoLuca_-_With_Body_Only_Logo.png">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <title>
        DragoLuca - Links
    </title>
</head>

<body>

    <link rel="stylesheet" href="/stylesheets/links.css">

    <header class="navhead">
        <a href="/" class="logo">DragoLuca</a>
        <div class="buttons">
            <a href="/support" class="support"><i class="ri-heart-fill"></i>SUPPORT US</a>
        </div>
    </header>

    <div class="image"></div>

    <div class="container">
        <div class="logo">
            <img
                src="https://cdn.discordapp.com/attachments/1091399104480944158/1091399782540525621/DragoLuca_-_With_Body_Only_Logo.png">
        </div>
        <div class="links">
            <a class="first" href="https://instagram.com/itsdrvgo"><i class="ri-instagram-line"></i>Instagram</a>
            <a class="second" href="https://www.youtube.com/@dragoluca"><i
                    class="ri-youtube-line"></i>YouTube</a>
            <a class="third" href="https://twitter.com/itsdrvgo"><i class="ri-twitter-line"></i>Twitter</a>
            <a class="forth" href="https://itsdrago.tk"><i class="ri-global-line"></i>Website</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.2.min.js"
        integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
</body>

</html>